<div class="grid">
    <div class="col-12">
        <ng-container>
            <div class="grid" >
                <div class="col-12">
                    <h4>Permit Information</h4>
                </div>
            </div>
            <div class="col-12">
                <p-fieldset class="line-height-3 m-0 bg-color py-0">
                    <ng-template pTemplate="header">
                        <span [class]="'permits-badge ' + permit?.permitStatusCode?.toLowerCase()">{{permit?.permitStatus}}</span>
                    </ng-template>
                    <div class="p-fluid p-formgrid grid" >
                        <div class="col-12 md:col-6">
                            <label>Start Date:
                                <div class="p-inputgroup">
                                    <input type="text" pInputText readonly name="startDateUtc" value={{startDateUtc}}>
                                    <span class="p-inputgroup-addon"><i class="pi pi-calendar" style="line-height: 1.25;"></i></span>
                                </div>
                            </label>
                        </div>    
                        <div class="col-12 md:col-6">
                            <label>End Date:
                                <div class="p-inputgroup">
                                    <input type="text" pInputText readonly name="expirationDateUtc" value={{expirationDateUtc}}>
                                    <span class="p-inputgroup-addon"><i class="pi pi-calendar" style="line-height: 1.25;"></i></span>
                                </div>
                            </label>
                        </div> 
                        <div class="col-12 md:col-6">
                            <label>License Plate:
                                <input type="text" pInputText name="licensePlate" readonly value={{permit?.licensePlate}} readonly/>
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label>Permit Type:
                                <input type="text" pInputText name="permitType" readonly value={{permit?.permitType}} readonly/>
                            </label>
                        </div>          
                        <div class="col-12 md:col-6">
                            <label>Tariff Package:
                                <input type="text" pInputText name="tariff" readonly value={{permit?.tariff}} readonly/>
                            </label>
                        </div>                        
                        <div class="col-12 md:col-6">
                            <label>Zone:
                                <input type="text" pInputText name="zone" readonly value={{permit?.zone}} readonly/>
                            </label>
                        </div>     
                    </div>
                </p-fieldset>
            </div>
            <div class="col-12" *ngIf="permit?.permitStatusCode === 'payment-pending'">

                <p-table *ngIf="paymentTC === false" #dt [value]="paymentTypes" responsiveLayout="scroll" [rows]="10" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <h5 class="m-0">Select Payment Methods</h5>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-paymentType>
                        <tr>
                            <td style="width:30%; min-width:10rem;">
                                <span class="p-column-title">Code</span>
                                {{paymentType.paymentTypeKey}}
                            </td>
                            <td style="width:14%; min-width:10rem;">
                                <span class="p-column-title">Name</span>
                                {{paymentType.name}}
                            </td>
                            <td>
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-arrow-right" class="p-button-rounded p-button-primary" (click)="OnSelectPaymentType(paymentType)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>


                <p-panel header="Credit Card Payment" class="line-height-3 m-0" *ngIf="paymentTC === true">
                    <div class="grid">
                        <div class="col-12">
                            <div id="outerDiv" >
                                <div id="monerisCheckout">

                                </div>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </ng-container>
    </div>
</div>