<div class="grid">
    <div class="col-12">
        <ng-container>
            <!--<div class="grid">
                <div class="col-12">
                    <h4>{{ "ClientPermit.PermitInformation" | translate }}</h4>
                </div>
            </div>-->
            <div class="col-12">
                <p-fieldset class="line-height-3 m-0 bg-color py-0">
                    <ng-template pTemplate="header">
                        <div class="card p-0">
                            <div class="flex flex-row flex-wrap card-container">
                                <div class="flex align-items-center justify-content-center font-bold border-round m-2">
                                    <span># {{ permit?.permitKey }}</span>  
                                </div>
                                <div class="flex align-items-center justify-content-center font-bold border-round m-2">
                                    <span [class]="'permits-badge ' + permit?.permitStatusCode?.toLowerCase()">
                                        {{ "PermitStatus."+permit?.permitStatusCode | translate }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <div class="p-fluid p-formgrid grid">
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.StartDate" | translate }}:
                                <div class="p-inputgroup">
                                    <input
                                        type="text"
                                        pInputText
                                        readonly
                                        name="startDateUtc"
                                        value="{{ startDateUtc }}"
                                    />
                                    <span class="p-inputgroup-addon"
                                        ><i
                                            class="pi pi-calendar"
                                            style="line-height: 1.25"
                                        ></i
                                    ></span>
                                </div>
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.EndDate" | translate }}::
                                <div class="p-inputgroup">
                                    <input
                                        type="text"
                                        pInputText
                                        readonly
                                        name="expirationDateUtc"
                                        value="{{ expirationDateUtc }}"
                                    />
                                    <span class="p-inputgroup-addon"
                                        ><i
                                            class="pi pi-calendar"
                                            style="line-height: 1.25"
                                        ></i
                                    ></span>
                                </div>
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.LicensePlate" | translate }}:
                                <input
                                    type="text"
                                    pInputText
                                    name="licensePlate"
                                    readonly
                                    value="{{ permit?.licensePlate }}"
                                    readonly
                                />
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.PermitType" | translate }}:
                                <input
                                    type="text"
                                    pInputText
                                    name="permitType"
                                    readonly
                                    value="{{ permit?.permitType }}"
                                    readonly
                                />
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.TariffPackage" | translate }}:
                                <input
                                    type="text"
                                    pInputText
                                    name="tariff"
                                    readonly
                                    value="{{ permit?.tariff }}"
                                    readonly
                                />
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.Zone" | translate }}:
                                <input
                                    type="text"
                                    pInputText
                                    name="zone"
                                    readonly
                                    value="{{ permit?.zone }}"
                                    readonly
                                />
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.Price" | translate }}:
                                <p-inputNumber
                                    name="price"
                                    mode="currency"
                                    [(ngModel)]="permit.price"
                                    currency="CAD"
                                    [readonly]="true"
                                >
                                </p-inputNumber>
                            </label>
                        </div>
                    </div>
                </p-fieldset>
            </div>

            <div
                class="col-12"
                *ngIf="permit?.permitStatusCode === 'payment-pending'"
            >
                <p-table
                    *ngIf="paymentTC === false"
                    #dt
                    [value]="paymentTypes"
                    responsiveLayout="scroll"
                    [rows]="10"
                    [rows]="10"
                    [paginator]="true"
                    [rowsPerPageOptions]="[10, 20, 30]"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowHover]="true"
                    dataKey="id"
                >
                    <ng-template pTemplate="caption">
                        <div
                            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                        >
                            <h5 class="m-0">
                                {{ "ClientPermit.SelectPaymentMethods" | translate }}
                            </h5>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{ "ClientPermit.Code" | translate }}</th>
                            <th>{{ "ClientPermit.Name" | translate }}</th>
                            <th>{{ "ClientPermit.Action" | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-paymentType>
                        <tr>
                            <td style="width: 30%; min-width: 10rem">
                                <span class="p-column-title">{{
                                    "ClientPermit.Code" | translate
                                }}</span>
                                {{ paymentType.paymentTypeKey }}
                            </td>
                            <td style="width: 14%; min-width: 10rem">
                                <span class="p-column-title">{{
                                    "ClientPermit.Name" | translate
                                }}</span>
                                {{ paymentType.name }}
                            </td>
                            <td>
                                <div class="flex">
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-arrow-right"
                                        class="p-button-rounded p-button-primary"
                                        (click)="
                                            OnSelectPaymentType(paymentType)
                                        "
                                    ></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <p-panel
                    [header]="'ClientPermit.CreditCardPayment' | translate"
                    class="line-height-3 m-0"
                    *ngIf="paymentTC === true"
                >
                    <div class="grid">
                        <div class="col-12">
                            <div id="outerDiv">
                                <div id="monerisCheckout"></div>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>

            <div
            class="col-12"
            *ngIf="permit?.permitStatusCode === 'payment-accepted'"
            >
            <p-panel
                [header]="'ClientPermit.Invoice' | translate"
                class="line-height-3 m-0"
            >
            <div class="card">
                <div class="grid">
                    <div class="col-6 md:col-3 sm:col-6"> 
                        <span class="card-item">Order No.:</span>
                    </div>
                    <div class="col-6 md:col-9 sm:col-6"> 
                        <span class="card-item">{{permit?.monerisReceipt?.orderNo}}</span>
                    </div>
                    <div class="col-6 md:col-3 sm:col-6"> 
                        <span class="card-item">Payment Amount:</span>
                    </div>
                    <div class="col-6 md:col-9 sm:col-6"> 
                        <span class="card-item">CAD {{permit?.monerisReceipt?.transAmount}}</span>
                    </div>
                    <div class="col-6 md:col-3 sm:col-6"> 
                        <span class="card-item">Payment Date:</span>
                    </div>
                    <div class="col-6 md:col-9 sm:col-6"> 
                        <span class="card-item">{{permit?.monerisReceipt?.transDate}}</span>
                    </div>
                    <div class="col-6 md:col-3 sm:col-6"> 
                        <span class="card-item">Authorization Code:</span>
                    </div>
                    <div class="col-6 md:col-9 sm:col-6"> 
                        <span class="card-item">{{permit?.monerisReceipt?.approvalCode}}</span>
                    </div>
                    <div class="col-6 md:col-3 sm:col-6"> 
                        <span class="card-item">CC Number:</span>
                    </div>
                    <div class="col-6 md:col-9 sm:col-6"> 
                        <span class="card-item">{{permit?.monerisReceipt?.first6last4}}</span>
                    </div>
                    <div class="col-6 md:col-3 sm:col-6"> 
                        <span class="card-item">CC Name:</span>
                    </div>
                    <div class="col-6 md:col-9 sm:col-6"> 
                        <span class="card-item">{{permit?.monerisReceipt?.cardHolder}}</span>
                    </div>
                    <div class="col-6 md:col-3 sm:col-6"> 
                        <span class="card-item">CC Exp:</span>
                    </div>
                    <div class="col-6 md:col-9 sm:col-6"> 
                        <span class="card-item">{{permit?.monerisReceipt?.cardExpiry}}</span>
                    </div>
                    <div class="col-12 xl:col-6">
                        <div class="grid p-0">
                            <div class="col-12 md:col-6">
                                <button pButton pRipple icon="pi pi-file-export" label="Open"  class="p-button-primary w-full" (click)="generatePDF('P')">
                                </button>
                            </div>
                            <div class="col-12 md:col-6">
                                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-primary w-full" label="Export to PDF" (click)="generatePDF('D')">
                                </button>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            </p-panel>
        </div>
        </ng-container>
    </div>
</div>
