<div class="card">
    <p-panel
        [header]="'ClientPermit.Invoice' | translate"
        class="line-height-3 m-0"
    >
        <div class="card py-8 px-6 md:px-8 overflow-auto" id="contenidoParaDescargar">
            <div
                class="flex flex-column align-items-start md:flex-row md:align-items-center md:justify-content-between border-bottom-1 surface-border pb-5 min-w-max"
            >
                <div class="flex flex-column">
                    <svg
                        width="48"
                        height="50"
                        viewBox="0 0 48 50"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M33.1548 9.65956L23.9913 4.86169L5.54723 14.5106L0.924465 12.0851L23.9913 0L37.801 7.23403L33.1548 9.65956ZM23.9931 19.3085L42.4255 9.65955L47.0717 12.0851L23.9931 24.1595L10.1952 16.9361L14.8297 14.5106L23.9931 19.3085ZM4.6345 25.8937L0 23.4681V37.9149L23.0669 50V45.1489L4.6345 35.4894V25.8937ZM18.4324 28.2658L0 18.6169V13.7658L23.0669 25.8403V40.2977L18.4324 37.8615V28.2658ZM38.7301 23.468V18.6169L24.9205 25.8403V49.9999L29.555 47.5743V28.2659L38.7301 23.468ZM43.3546 35.4892V16.1914L48.0008 13.7659V37.9148L34.1912 45.1488V40.2977L43.3546 35.4892Z"
                            fill="var(--primary-color)"
                        />
                    </svg>
                    <div class="my-3 text-4xl font-bold text-900">
                        {{ "ClientPermit.Permits" | translate }}
                    </div>
                    <span class="mb-2">9137 3rd Lane California City</span>
                    <span>CA 93504, U.S.A.</span>
                </div>
                <div class="flex flex-column mt-5 md:mt-0">
                    <div
                        class="text-2xl font-semibold text-left md:text-right mb-3"
                    >
                        {{ "ClientPermit.Invoice" | translate }}
                    </div>
                    <div class="flex flex-column">
                        <div
                            class="flex justify-content-between align-items-center mb-2"
                        >
                            <span class="font-semibold mr-6">{{
                                "ClientPermit.Date" | translate
                            }}</span>
                            <span>{{ permit.startDateUtc }}</span>
                        </div>
                        <div
                            class="flex justify-content-between align-items-center mb-2"
                        >
                            <span class="font-semibold mr-6"
                                >{{
                                    "ClientPermit.Invoice" | translate
                                }}
                                #</span
                            >
                            <span>{{ permit.permitKey }}</span>
                        </div>
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <span class="font-semibold mr-6">{{
                                "ClientPermit.Customer" | translate
                            }}</span>
                            <span>{{ permit.companyKey }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5 mb-8 flex flex-column">
                <div class="mb-3 text-2xl font-medium">
                    {{ "ClientPermit.BillTo" | translate }}
                </div>
                <span class="mb-2">Claire Williams, 148 Hope Lane</span>
                <span>Palo Alto, CA 94304.</span>
            </div>

            <div class="overflow-x-auto">
                <table
                    class="w-full"
                    style="border-collapse: collapse; table-layout: auto"
                >
                    <thead>
                        <tr>
                            <th
                                class="text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap"
                            >
                                {{ "ClientPermit.Description" | translate }}
                            </th>
                            <th
                                class="text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap px-3"
                            >
                                {{ "ClientPermit.Quantity" | translate }}
                            </th>
                            <th
                                class="text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap px-3"
                            >
                                {{ "ClientPermit.UnitPrice" | translate }}
                            </th>
                            <th
                                class="text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap"
                            >
                                {{ "ClientPermit.Subtotal" | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td
                                class="text-left py-3 border-bottom-1 surface-border white-space-nowrap"
                            >
                                {{ permit.description }}
                            </td>
                            <td
                                class="text-right py-3 border-bottom-1 surface-border px-3"
                            >
                                {{ permit.quantity }}
                            </td>
                            <td
                                class="text-right py-3 border-bottom-1 surface-border px-3"
                            >
                                ${{ permit.price }}
                            </td>
                            <td
                                class="text-right py-3 border-bottom-1 surface-border"
                            >
                                ${{
                                    (permit?.price ?? 0) *
                                        (permit?.quantity ?? 0)
                                }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div
                class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mt-8"
            >
                <div class="font-semibold mb-3 md:mb-0">NOTES</div>
                <div class="flex flex-column">
                    <div
                        class="flex justify-content-between align-items-center mb-2"
                    >
                        <span class="font-semibold mr-6">{{
                            "ClientPermit.Total" | translate
                        }}</span>
                        <span
                            >${{
                                (permit?.price ?? 0) * (permit?.quantity ?? 0)
                            }}</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </p-panel>
    <button (click)="imprimirContenido()">Descargar como PDF</button>
</div>
<iframe id="iframeDescargar" style="display:none;"></iframe>

<div class="grid">
    <div class="col-12">
        <ng-container>
            <div class="grid">
                <div class="col-12">
                    <h4>{{ "ClientPermit.PermitInformation" | translate }}</h4>
                </div>
            </div>
            <div class="col-12">
                <p-fieldset class="line-height-3 m-0 bg-color py-0">
                    <ng-template pTemplate="header">
                        <span
                            [class]="
                                'permits-badge ' +
                                permit?.permitStatusCode?.toLowerCase()
                            "
                            >{{ permit?.permitStatus }}</span
                        >
                    </ng-template>
                    <div class="p-fluid p-formgrid grid">
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.StartDate" | translate }}:
                                <div class="p-inputgroup">
                                    <input
                                        type="text"
                                        pInputText
                                        readonly
                                        name="startDateUtc"
                                        value="{{ startDateUtc }}"
                                    />
                                    <span class="p-inputgroup-addon"
                                        ><i
                                            class="pi pi-calendar"
                                            style="line-height: 1.25"
                                        ></i
                                    ></span>
                                </div>
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.EndDate" | translate }}::
                                <div class="p-inputgroup">
                                    <input
                                        type="text"
                                        pInputText
                                        readonly
                                        name="expirationDateUtc"
                                        value="{{ expirationDateUtc }}"
                                    />
                                    <span class="p-inputgroup-addon"
                                        ><i
                                            class="pi pi-calendar"
                                            style="line-height: 1.25"
                                        ></i
                                    ></span>
                                </div>
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.LicensePlate" | translate }}:
                                <input
                                    type="text"
                                    pInputText
                                    name="licensePlate"
                                    readonly
                                    value="{{ permit?.licensePlate }}"
                                    readonly
                                />
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.PermitType" | translate }}:
                                <input
                                    type="text"
                                    pInputText
                                    name="permitType"
                                    readonly
                                    value="{{ permit?.permitType }}"
                                    readonly
                                />
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.TariffPackage" | translate }}:
                                <input
                                    type="text"
                                    pInputText
                                    name="tariff"
                                    readonly
                                    value="{{ permit?.tariff }}"
                                    readonly
                                />
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label
                                >{{ "ClientPermit.Zone" | translate }}:
                                <input
                                    type="text"
                                    pInputText
                                    name="zone"
                                    readonly
                                    value="{{ permit?.zone }}"
                                    readonly
                                />
                            </label>
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <div
                class="col-12"
                *ngIf="permit?.permitStatusCode === 'payment-pending'"
            >
                <p-table
                    *ngIf="paymentTC === false"
                    #dt
                    [value]="paymentTypes"
                    responsiveLayout="scroll"
                    [rows]="10"
                    [rows]="10"
                    [paginator]="true"
                    [rowsPerPageOptions]="[10, 20, 30]"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowHover]="true"
                    dataKey="id"
                >
                    <ng-template pTemplate="caption">
                        <div
                            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                        >
                            <h5 class="m-0">
                                {{
                                    "ClientPermit.SelectPaymentMethods"
                                        | translate
                                }}
                            </h5>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{ "ClientPermit.Code" | translate }}</th>
                            <th>{{ "ClientPermit.Name" | translate }}</th>
                            <th>{{ "ClientPermit.Action" | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-paymentType>
                        <tr>
                            <td style="width: 30%; min-width: 10rem">
                                <span class="p-column-title">{{
                                    "ClientPermit.Code" | translate
                                }}</span>
                                {{ paymentType.paymentTypeKey }}
                            </td>
                            <td style="width: 14%; min-width: 10rem">
                                <span class="p-column-title">{{
                                    "ClientPermit.Name" | translate
                                }}</span>
                                {{ paymentType.name }}
                            </td>
                            <td>
                                <div class="flex">
                                    <button
                                        pButton
                                        pRipple
                                        icon="pi pi-arrow-right"
                                        class="p-button-rounded p-button-primary"
                                        (click)="
                                            OnSelectPaymentType(paymentType)
                                        "
                                    ></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <p-panel
                    [header]="'ClientPermit.CreditCardPayment' | translate"
                    class="line-height-3 m-0"
                    *ngIf="paymentTC === true"
                >
                    <div class="grid">
                        <div class="col-12">
                            <div id="outerDiv">
                                <div id="monerisCheckout"></div>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </ng-container>
    </div>
</div>
