<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <ng-container>
            <div class="grid" >
                <div class="col-12 sm:col-6 lg:col-6 xl:col-4"
                *ngFor="let application of applications"
                >
                    <p-card
                    >
                        <div class="grid">
                            <div class="col-12 xl:col-7 py-0">
                                <h4>{{"ClientPermit.Application" | translate}} #: {{application.requestNumber}}</h4>
                            </div>
                            <div class="col-12 xl:col-5 py-0">
                                <span [class]="'applications-badge ' + application?.applicationStatusCode?.toLowerCase()">{{application.applicationStatus}}</span>
                            </div>
                        </div>
                        <div class="card-content py-2">
                            <span class="card-item"><strong>{{"ClientPermit.LicensePlate" | translate}}:</strong> {{application.licensePlate}}</span>
                            <span class="card-item"><strong>{{"ClientPermit.Type" | translate}}:</strong> {{application.permitType}}</span>
                            <span class="card-item"><strong>{{"ClientPermit.Adress" | translate}}:</strong> Ontario Street</span>
                            <span class="card-item"><strong>{{"ClientPermit.StartDate" | translate}}:</strong> {{application.startDateUtc | date: 'yyyy-MM-dd HH:mm'}} </span>
                            <span class="card-item"><strong>{{"ClientPermit.EndDate" | translate}}:</strong> {{application.expirationDateUtc | date: 'yyyy-MM-dd HH:mm'}}</span>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple [label]="'View' | translate" icon="pi pi-arrow-right"  class="p-button-primary" (click)="onViewApplication(application.applicationGuid)"></button>
                        </ng-template>
                    </p-card>
                </div>                                                      
            </div>
        </ng-container>
    </div>
</div>