.card-content{
    display: flex;
    flex-direction: column;
    opacity: 0.5;
  }

  .card-item {
    margin: 0.3rem;
    width: auto;
    border-bottom: 1px solid;
  }

  :host ::ng-deep {
    .p-card {
      &:hover {
        transform: scale(0.98);
        box-shadow: 2px 0px 8px 0px rgb(0 0 0 / 90%);  }
  
        .p-card-footer {
          padding: 0;
        }
     }
     .p-multiselect {
        width: 50%;
     }
      /* Adjust the frame width at different screen widths */
      @media (max-width: 576px) {
        .p-multiselect {
          width: 100%; /* Set the aspect ratio of the frame for smaller screens */
        }
      }
      
      @media (min-width: 768px) {
        .p-multiselect {
          width: 50%; /* Set the aspect ratio of the frame for medium screens */
        }
      }
      
      @media (min-width: 992px) {
        .p-multiselect {
          width: 50%; /* Set the aspect ratio of the frame for larger screens */
        }
      }
    }
  
    .footer-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      button {
        margin: 0;
      }
    }
  
    .edit-input {
      width: 100%;
      box-sizing: border-box; 
    }