<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <ng-container>
            <div class="grid" >
                <div class="col-12 sm:col-6 lg:col-6 xl:col-4"
                *ngFor="let application of applications"
                >
                    <p-card
                    >
                        <div class="grid">
                            <div class="col-12 xl:col-7 py-0">
                                <h4>Application #: {{application.applicationKey}}</h4>
                            </div>
                            <div class="col-12 xl:col-5 py-0">
                                <span [class]="'applications-badge ' + application?.applicationStatusCode?.toLowerCase()">{{application.applicationStatus}}</span>
                            </div>
                        </div>
                        <div class="card-content py-2">
                            <span class="card-item">License Plate: {{application.licensePlate}}</span>
                            <span class="card-item">Type: {{application.permitType}}</span>
                            <span class="card-item">Adress: Ontario Street</span>
                            <span class="card-item">Start Date: {{application.startDateUtc | date: 'dd/MMMM/YYYY'}} </span>
                            <span class="card-item">End date: {{application.expirationDateUtc | date: 'dd/MMMM/YYYY'}}</span>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple label="View" icon="pi pi-arrow-right"  class="p-button-primary" (click)="onViewApplication(application.applicationGuid)"></button>
                        </ng-template>
                    </p-card>
                </div>                                                      
            </div>
        </ng-container>
    </div>
</div>