<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <ng-container>
            <div class="grid" >
                <div class="col-12">
                    <div>
                        <p-panel header="Filters">
                            <div class="grid">
                                <div class="col-12 xl:col-6">
                                    <p-multiSelect 
                                        #multiSelect 
                                        display="chip" 
                                        class="multiselect-container" 
                                        [options]="status" 
                                        [(ngModel)]="selectedStatus" 
                                        placeholder="{{ 'ClientPermit.Status' | translate }}" 
                                        optionLabel="name" 
                                        (onChange)="filterPermitStatus()"
                                    >
                                        <ng-template let-value pTemplate="selectedItems">
                                            <div *ngFor="let item of value; let i = index" class="p-multiselect-token">
                                                <span
                                                    [ngClass]="'permits-badge ' + item.code.toLowerCase() + ' p-multiselect-token-label'"
                                                >
                                                    {{"PermitStatus."+item?.code | translate}}
                                                </span>
                                                <span
                                                    *ngIf="!multiSelect.disabled"
                                                    class="p-multiselect-token-icon pi pi-times-circle"
                                                    (click)="multiSelect.removeChip(item, $event)"
                                                >
                                                </span>
                                            </div> 
                                            <div *ngIf="!value || value.length === 0">{{ 'ClientPermit.Status' | translate }}</div>
                                        </ng-template>
                                        <ng-template let-item pTemplate="item">
                                            <div class="flex align-items-center gap-2">
                                                <span [ngClass]="'permits-badge ' + item.code.toLowerCase()"> {{ "PermitStatus."+item?.code | translate}} </span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </div>
                            </div>
                        </p-panel>
                    </div>
                </div>
                <div class="col-12 sm:col-6 lg:col-6 xl:col-4"
                    *ngFor="let permit of permits"
                >
                    <p-card
                    >
                        <div class="grid">
                            <div class="col-12 xl:col-6 py-0">
                                <h4>{{"ClientPermit.Permit" | translate}} #: {{permit.requestNumber}}</h4>
                            </div>
                            <div class="col-12 xl:col-6  py-0">
                                <span [class]="'permits-badge ' + permit?.permitStatusCode?.toLowerCase()">{{ "PermitStatus."+permit?.permitStatusCode | translate }}</span>
                            </div>
                        </div>
                        <div class="card-content py-2">
                            <div class="grid card-item">
                                <div class="col-6 p-0">
                                    <span><strong>{{"ClientPermit.LicensePlate" | translate}}:</strong></span>
                                </div>
                                <div class="col-6 p-0" *ngIf="!(itemEditing == permit.permitGuid)">
                                    <span>{{permit.licensePlate}}</span>                                
                                </div>
                                <div class="col-6 p-0" *ngIf="itemEditing == permit.permitGuid">
                                    <input type="text" pInputText [(ngModel)]="permit.licensePlate" maxlength="10" class="edit-input" />
                                </div>
                            </div>
                            <div class="grid card-item">
                                <div class="col-6 p-0">
                                    <span><strong>{{"ClientPermit.Type" | translate}}:</strong></span>
                                </div>
                                <div class="col-6 p-0">
                                    <span>{{permit.permitType}}</span>                                
                                </div>
                            </div>
                            <div class="grid card-item">
                                <div class="col-6 p-0">
                                    <span><strong>{{"ClientPermit.Zone" | translate}}:</strong></span>
                                </div>
                                <div class="col-6 p-0">
                                    <span>{{permit.zone}}</span>                                
                                </div>
                            </div>
                            <div class="grid card-item">
                                <div class="col-6 p-0">
                                    <span><strong>{{"ClientPermit.StartDate" | translate}}:</strong></span>
                                </div>
                                <div class="col-6 p-0">
                                    <span>{{permit.startDateUtc | date: 'yyyy-MM-dd HH:mm'}} </span>                                
                                </div>
                            </div>
                            <div class="grid card-item">
                                <div class="col-6 p-0">
                                    <span><strong>{{"ClientPermit.EndDate" | translate}}:</strong></span>
                                </div>
                                <div class="col-6 p-0">
                                    <span>{{permit.expirationDateUtc | date: 'yyyy-MM-dd HH:mm'}}</span>                                
                                </div>
                            </div>
                            <div class="grid card-item">
                                <div class="col-6 p-0">
                                    <span><strong>{{"ClientPermit.Price" | translate}}:</strong></span>
                                </div>
                                <div class="col-6 p-0">
                                    <span>CAD {{permit?.price  | number:'1.2-2'}}</span>                                
                                </div>
                            </div>
                            <div class="grid card-item" *ngIf="permit?.taxesAndFees && permit?.taxesAndFees?.length ?? 0 > 0">
                                <div class="col-12 p-0">
                                    <span><strong>{{"ClientPermit.TaxesAndFee" | translate}}:</strong></span>
                                </div>
                                <div class="col-12 p-0 flex" *ngFor="let taxAndFee of permit?.taxesAndFees">
                                    <div class="col-6 p-0">
                                        <span class="tax-fee-detail"><strong>{{taxAndFee?.tariffTaxAndFee?.taxAndFee?.name}}:</strong></span>
                                    </div>
                                    <div class="col-6 p-0">
                                        <span class="tax-fee-detail">{{taxAndFee?.calculatedValue | number:'1.2-2'}}</span>                                
                                    </div>
                                </div>
                            </div>
                            <div class="grid card-item" *ngIf="permit?.total">
                                <div class="col-6 p-0">
                                    <span><strong>{{"ClientPermit.Total" | translate}}:</strong></span>
                                </div>
                                <div class="col-6 p-0">
                                    <span>CAD {{permit?.total | number:'1.2-2'}}</span>                                
                                </div>
                            </div>                             
                        </div>
                        <ng-template pTemplate="footer">
                            <div class="footer-buttons">
                                <button 
                                    *ngIf="!(itemEditing == permit.permitGuid)"
                                    pButton 
                                    pRipple 
                                    [label]="'ClientPermit.View' | translate" 
                                    icon="pi pi-arrow-right"  
                                    class="p-button-primary" 
                                    (click)="onViewPermit(permit.permitGuid)">
                                </button>
                                <button 
                                    *ngIf="itemEditing == permit.permitGuid"
                                    pButton 
                                    pRipple 
                                    icon="pi pi-times"  
                                    class="p-button-danger" 
                                    (click)="onCancelEdit()">
                                </button>
                                <button
                                  pButton
                                  pRipple
                                  icon="pi pi-pencil"
                                  [icon]="(itemEditing == permit.permitGuid) ? 'pi pi-check' : 'pi pi-pencil'"
                                  class="p-button-rounded p-button-primary"
                                  (click)="onEditPermit(permit.permitGuid)">
                                </button>
                              </div>                     
                        </ng-template>
                    </p-card>
                </div>                                                 
            </div>
        </ng-container>
    </div>
</div>