.load-container2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .load-spinner{
      width: 100px;
      height: 100px;
  }
  
  .load-container{
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    /* Transparent Overlay */
    .load-container:before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.53);
    }
  
  :host ::ng-deep .load-spinner .p-progress-spinner-circle {
        animation: load-spinner 8s ease-in-out infinite;
  }
    
  @keyframes load-spinner {
      100%,
      0% {
            stroke: #14B8A6;
      }
      40% {
            stroke: #45C89E;
      }
      66% {
            stroke: #6FD793;
      }
      80%,
      90% {
            stroke: #9BE585;
      }
  }
  
  