.card-content{
    display: flex;
    flex-direction: column;
    opacity: 0.5;
  }

  .card-item {
    margin: 0.3rem;
    border-bottom: 1px solid;
  }


  :host ::ng-deep {
  .p-card {
    &:hover {
      transform: scale(0.98);
      box-shadow: 2px 0px 8px 0px rgb(0 0 0 / 90%);  }

      .p-card-footer {
        padding: 0;
      }
   }
  }

  .footer-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    button {
      margin: 0;
    }
  }

  .edit-input {
    width: 100%;
    box-sizing: border-box; 
  }

  .tax-fee-detail {
    font-size: 0.75rem;
  }