<div class="grid">
    <div class="col-12">
        <ng-container>
            <div class="grid" >
                <div class="col-12">
                    <h4>{{"ClientPermit.ApplicationInformation" | translate}}</h4>
                </div>
            </div>
            <div class="col-12">
                <p-fieldset class="line-height-3 m-0 bg-color py-0">
                    <ng-template pTemplate="header">
                        <span [class]="'applications-badge ' + application?.applicationStatusCode?.toLowerCase()">{{application?.applicationStatus}}</span>
                    </ng-template>
                    <div class="p-fluid p-formgrid grid" >
                        <div class="col-12 md:col-6">
                            <label>{{"ClientPermit.StartDate" | translate}}:
                                <div class="p-inputgroup">
                                    <input type="text" pInputText readonly name="startDateUtc" value={{startDateUtc}}>
                                    <span class="p-inputgroup-addon"><i class="pi pi-calendar" style="line-height: 1.25;"></i></span>
                                </div>
                            </label>
                        </div>    
                        <div class="col-12 md:col-6">
                            <label>{{"ClientPermit.EndDate" | translate}}::
                                <div class="p-inputgroup">
                                    <input type="text" pInputText readonly name="expirationDateUtc" value={{expirationDateUtc}}>
                                    <span class="p-inputgroup-addon"><i class="pi pi-calendar" style="line-height: 1.25;"></i></span>
                                </div>
                            </label>
                        </div> 
                        <div class="col-12 md:col-6">
                            <label>{{"ClientPermit.LicensePlate" | translate}}:
                                <input type="text" pInputText name="licensePlate" readonly value={{application?.licensePlate}} readonly/>
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label>{{"ClientPermit.PermitType" | translate}}:
                                <input type="text" pInputText name="permitType" readonly value={{application?.permitType}} readonly/>
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label>{{"ClientPermit.TariffPackage" | translate}}:
                                <input type="text" pInputText name="tariff" readonly value={{application?.tariff}} readonly/>
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label>{{"ClientPermit.Price" | translate}}:
                                <input type="text" pInputText name="tariff" readonly value={{application?.price}} readonly/>
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label>{{"ClientPermit.Zone" | translate}}
                                <input type="text" pInputText name="zone" readonly value={{application?.zone}} readonly/>
                            </label>
                        </div>
                        <div class="col-12 md:col-6">
                            <label>{{"ClientPermit.Status" | translate}}: 
                                <input type="text" pInputText name="zone" readonly value={{application?.applicationStatus}} readonly/>
                            </label>
                        </div>
                        
                        <ng-container *ngIf="(application?.applicationStatusKey === 3 || application?.applicationStatusKey === 6) && updateFiles">
                            <p-panel header="Uploaded documentation" class="line-height-3 w-full m-3">
                                <div class="p-fluid p-formgrid grid">                                                                     
                                    <div class="col-12">
                                        <div class="grid">
                                            <div class="col-12 md:col-6">
                                              <p htmlFor="imageUrlLicenseDriver">{{"ClientPermit.DriversLicense" | translate}}:</p>
                                              <p *ngIf="!imageUrlLicenseDriver || imageUrlLicenseDriver === ''">{{"ClientPermit.NotUploadedFiles" | translate}}</p>
                                              <ng-container *ngIf="imageUrlLicenseDriver && imageUrlLicenseDriver !== ''">
                                                <embed *ngIf="isPdf(licenseDriver)" [src]="imageUrlLicenseDriver" type="application/pdf" width="250" height="200"/>
                                                <p-image *ngIf="!isPdf(licenseDriver)" name="imageUrlLicenseDriver" [src]="imageUrlLicenseDriver" alt=" Image License Driver" width="250" [preview]="true"></p-image>
                                              </ng-container>
                                            </div>
                                            <div class="col-12 md:col-6">
                                              <p htmlFor="driversLicense">{{"ClientPermit.UploadNewDriversLicense" | translate}}:</p>
                                              <p-fileUpload 
                                                #fileUpload 
                                                name="driversLicense"
                                                skinSimple="true"
                                                [multiple]="false"
                                                [customUpload]="true"
                                                (uploadHandler)="onUploadLicenseDriver($event)"
                                                (onRemove)="onRemoveLicenseDriver($event)"
                                                [auto]="true"
                                                accept="image/*,.pdf"
                                                invalidFileTypeMessageSummary="Invalid file type: "
                                                invalidFileTypeMessageDetail="Only image and PDF document files are allowed."
                                              >
                                              </p-fileUpload>        
                                            </div>
                                          </div>
                                          
                                    </div>
                                    <div class="col-12">
                                        <div class="grid">
                                            <div class="col-12 md:col-6">
                                                <p htmlFor="imageUrlProofResidence">{{"ClientPermit.ClientPermit.ProffOfResidence" | translate}}</p>
                                                <p *ngIf="!imageUrlProofResidence || imageUrlProofResidence === ''">{{"ClientPermit.NotUploadedFiles" | translate}}</p>
                                                <ng-container *ngIf="imageUrlProofResidence && imageUrlProofResidence !== ''">
                                                    <embed *ngIf="isPdf(proofResidence)" [src]="imageUrlProofResidence" type="application/pdf" width="250" height="200"/>
                                                    <p-image *ngIf="!isPdf(proofResidence)" name="imageUrlProofResidence" [src]="imageUrlProofResidence" alt=" Image Proof Residence" width="250" [preview]="true"></p-image>
                                                </ng-container>
                                            </div>
                                            <div class="col-12 md:col-6">
                                                <p htmlFor="proffOfResidence">{{"ClientPermit.UploadNewProofOfResidence" | translate}}:</p>
                                                <p-fileUpload 
                                                    #fileUpload 
                                                    name="proofOfResidence"
                                                    skinSimple="true"
                                                    [multiple]="false"
                                                    [customUpload]="true"
                                                    (uploadHandler)="onUploadProofResidence($event)"
                                                    (onRemove)="onRemoveProofResidence($event)"
                                                    [auto]="true"
                                                    accept="image/*,.pdf"
                                                    invalidFileTypeMessageSummary="Invalid file type: "
                                                    invalidFileTypeMessageDetail="Only image and PDF document files are allowed."
                                                    >
                                                </p-fileUpload>
                                            </div>
                                        </div>
                                    </div>                             
                                </div>
                            </p-panel>    
                        </ng-container>
                                              
                        <div class="col-12">
                            <div class="grid">
                                <div class="col-12 md:col-6">
                                    <button pButton pRipple icon="pi pi-times-circle" [label]="'ClientPermit.Cancel' | translate" class="p-button-danger w-full" (click)="onClickSubmit()">
                                    </button>
                                </div>
                                <div class="col-12 md:col-6" *ngIf="application?.applicationStatusKey === 1">
                                    <button pButton pRipple icon="pi pi-save" class="p-button-primary w-full" 
                                        [label]="'ClientPermit.Submit' | translate" 
                                        (click)="onClickSubmit()">
                                    </button>
                                </div>
                                <div class="col-12 md:col-6" *ngIf="application?.applicationStatusKey === 3 || application?.applicationStatusKey === 6">
                                    <button pButton pRipple icon="pi pi-save" class="p-button-primary w-full" 
                                        [label]="'ClientPermit.Resubmit' | translate" 
                                        (click)="onClickSubmit()">
                                    </button>
                                </div>                                                              
                            </div>  
                        </div> 
                    </div>
                </p-fieldset>
            </div>
        </ng-container>
    </div>
</div>