<div class="grid">
    <div class="col-12 px-6">
        <ng-container>
            <div class="grid" >
                <div class="col-12 md:col-6">
                    <h4>{{"ClientPermit.ZoneSelection" | translate}}</h4>
                </div>
            </div>
            <form>
                <div class="p-fluid p-formgrid grid" >
                    <div class="col-12 md:col-6">
                        <label>{{"ClientPermit.SelectZone" | translate}}:
                            <p-dropdown 
                                [formControl]="zoneControl"
                                name="zone" 
                                optionLabel="name" 
                                [options]="zones" 
                                placeholder="Select Zone" 
                                class="w-full"
                            >
                                <ng-template let-option pTemplate="item">
                                    {{option.name}}
                                </ng-template>
                            </p-dropdown>   
                        </label>             
                    </div>         
                </div>
                <div class="grid" >
                    <div class="col-12 md:col-6 xl:col-3 ">
                        <button pButton pRipple icon="pi pi-arrow-right" label="Next Step" class="p-button-primary w-full" (click)="onClickNext()">
                        </button>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
</div>
