<p-table
    #dt
    [value]="mails"
    responsiveLayout="scroll"
    [rows]="10"
    [globalFilterFields]="['from', 'title', 'message']"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
    [(selection)]="selectedMails"
    selectionMode="multiple"
    [rowHover]="true"
    dataKey="permitMessageKey"
>
    <ng-template pTemplate="caption">
        <div
            class="flex flex-wrap align-items-center justify-content-between gap-3"
        >
            <div class="flex gap-2 align-items-center">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-refresh"
                    class="p-button-rounded p-button-text p-button-plain ml-4"
                ></button>
                <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-ellipsis-v"
                    class="p-button-rounded p-button-text p-button-plain ml-3"
                    (click)="menu.toggle($event)"
                ></button>
                <p-menu
                    #menu
                    [model]="menuItems"
                    [appendTo]="dt"
                    [popup]="true"
                ></p-menu>
            </div>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    type="text"
                    (input)="onGlobalFilter(dt, $event)"
                    [placeholder]="'ClientPermit.SearchMail' | translate"
                    class="w-full sm:w-auto"
                />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="body" let-mail>
        <tr
            (mouseenter)="toggleOptions($event, options, date)"
            (mouseleave)="toggleOptions($event, options, date)"
            (click)="onRowSelect(mail)"
            class="cursor-pointer"
        >
            <td style="width: 4rem" class="pl-3">
                <p-tableCheckbox
                    [value]="mail"
                    (click)="$event.stopPropagation()"
                    (touchend)="$event.stopPropagation()"
                ></p-tableCheckbox>
            </td>
            <td *ngIf="!mail.trash && !mail.spam" style="width: 4rem">
                <span
                    (click)="onStar($event, mail)"
                    (touchend)="onStar($event, mail)"
                    class="cursor-pointer"
                >
                    <i
                        class="pi pi-fw text-xl"
                        [ngClass]="{
                            'pi-star-fill': mail.starred,
                            'pi-star': !mail.starred
                        }"
                    ></i>
                </span>
            </td>
            <td style="width: 12rem">
                <span
                    (click)="onGoToApplication(mail.applicationGuid)"
                    class="cursor-pointer link-style"
                >
                {{"ClientPermit.Application" | translate}} # {{ mail.applicationKey }}
                </span>
            </td>
            <td
                style="min-width: 6rem"
                [ngClass]="{ 'font-semibold': !mail.isReaded }"
                class="font-semibold"
            >
                {{ mail.senderType }}
            </td>
            <td
                style="min-width: 6rem"
                [ngClass]="{ 'font-semibold': !mail.isReaded }"
                class="font-semibold"
            >
                {{ mail.messageType }}
            </td>
            <td style="min-width: 12rem">
                <span
                    [ngClass]="{ 'font-semibold': !mail.isReaded }"
                    class="white-space-nowrap overflow-hidden text-overflow-ellipsis block"
                    style="max-width: 30rem"
                >
                    {{ mail.message }}
                </span>
            </td>
            <td style="min-width: 10rem">
                <div class="flex justify-content-end w-full px-0">
                    <span
                        #date
                        [ngClass]="{ 'font-semibold': !mail.isReaded }"
                        class="white-space-nowrap"
                    >
                        {{ mail.dateCreatedUtc | date : "dd/MMMM/yyyy HH:mm" }}
                    </span>
                    <div style="display: none" #options>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-inbox"
                            class="h-2rem w-2rem mr-2"
                            (click)="onArchive($event, mail)"
                            [pTooltip]="'ClientPermit.Archive' | translate"
                            tooltipPosition="top"
                            type="button"
                        ></button>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-reply"
                            class="p-button-secondary h-2rem w-2rem mr-2"
                            (click)="onReply($event, mail)"
                            [pTooltip]="'ClientPermit.Reply' | translate"
                            tooltipPosition="top"
                            type="button"
                        ></button>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-trash"
                            class="p-button-danger h-2rem w-2rem"
                            (click)="onTrash($event, mail)"
                            [pTooltip]="'ClientPermit.Trash' | translate"
                            tooltipPosition="top"
                            type="button"
                        ></button>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
