<p-sidebar
    [(visible)]="visible"
    position="right"
    [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'"
    styleClass="layout-profile-sidebar w-full sm:w-25rem"
>
    <div class="flex flex-column mx-auto md:mx-0">
        <span class="mb-2 font-semibold">Welcome</span>
        <span class="text-color-secondary font-medium mb-5"
            >{{ user?.firstName }} {{ user?.lastName }}</span
        >

        <ul class="list-none m-0 p-0">
            <li>
                <a
                    class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                >
                    <span>
                        <i class="pi pi-user text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Profile</span>
                        <p class="text-color-secondary m-0">
                            Update your profile
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a
                    class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                >
                    <span>
                        <i class="pi pi-user text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Billing</span>
                        <p class="text-color-secondary m-0">
                            Check your invoices
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a
                    (click)="onSignOut()"
                    class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                >
                    <span>
                        <i class="pi pi-power-off text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Sign Out</span>
                        <p class="text-color-secondary m-0">Exit application</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="flex flex-column mt-5 mx-auto md:mx-0">
        <span class="mb-2 font-semibold">Notifications</span>
        <span class="text-color-secondary font-medium mb-5"
            >You have {{ messages.length }}
            {{ messages.length > 1 ? "notifications" : "notification" }}</span
        >
        <div *ngFor="let message of messages">
            <ul class="list-none m-0 p-0">
                <li>
                    <a
                        class="cursor-pointer flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                        (click)="
                            redirectToMessageDetail(message)
                        "
                    >
                        <span>
                            <i
                                [ngClass]="getIconClass(message.messageType!)"
                                class="text-xl"
                            ></i>
                        </span>
                        <div class="ml-3">
                            <span class="mb-2 font-semibold">{{
                                message.message
                            }}</span>
                            <p class="text-color-secondary m-0">
                                {{ message.messageSent }}
                            </p>
                        </div>
                        <p-badge value="1" class="ml-auto"></p-badge>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</p-sidebar>
