.ui-fileupload-filename {
    display: none;
}

::ng-deep .confirmationDialog {
    width: 60vw;
    box-shadow: 2px 0px 8px 0px rgb(0 0 0 / 50%);
}

  @media screen and (max-width: 1200px) {
    ::ng-deep .confirmationDialog {
        width: 80vw;
    }
  }
