<div class="grid">
    <div class="col-12">
        <ng-container>
            <div class="grid" >
                <div class="col-12">
                    <h4>{{"ClientPermit.PermitOptionsStatus" | translate}}: {{"ClientPermit.New" | translate}}</h4>
                </div>
            </div>
            <form class="form-options" [formGroup]="form" (submit)="onSubmitPermit()">
                <div class="p-fluid p-formgrid grid" >
                    <div class="col-12 xl:col-6">
                        <div class="col-12">
                            <label>{{"ClientPermit.Zone" | translate}}*:
							    <input type="text" readonly pInputText name="zone" formControlName="zone"/>
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>{{"ClientPermit.Type" | translate}}*:
                                <p-dropdown 
                                    formControlName="permitType"
                                    name="permitType" 
                                    optionLabel="name" 
                                    [options]="permitTypes" 
                                    placeholder="Select Zone" 
                                    class="w-full"
                                >
                                    <ng-template let-option pTemplate="item">
                                        {{option.name}}
                                    </ng-template>
                                </p-dropdown>   
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>{{"ClientPermit.Tariff" | translate}}*:
                                <p-dropdown 
                                    formControlName="tariff"
                                    name="tariff" 
                                    optionLabel="name" 
                                    [options]="tariffs" 
                                    placeholder="Select Tariff" 
                                    (onChange)="onTariffChange($event)"
                                    class="w-full"
                                >
                                    <ng-template let-option pTemplate="item">
                                        {{option.name}}
                                    </ng-template>
                                </p-dropdown>  
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>{{"ClientPermit.StartDate" | translate}}*:
                                <p-calendar [showIcon]="true"
                                            [touchUI]="true" 
                                            [showButtonBar]="true"
                                            [minDate]="minDate"
                                            formControlName="startDate"
                                            dateFormat="dd/MM/yy"
                                            [showTime]="true"
                                            (onClose)="onChangeStartDate()"
                                            name="startDate">
                                </p-calendar>
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>{{"ClientPermit.EndDate" | translate}}*:
                                <p-calendar [showIcon]="true"
                                            [touchUI]="true" 
                                            [showButtonBar]="true"
                                            [minDate]="minDate"
                                            formControlName="endDate"
                                            dateFormat="dd/MM/yy"
                                            [showTime]="true"
                                            (onClose)="onChangeEndDate()"
                                            name="endDate">
                                </p-calendar>
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>License Plate*:
							    <input type="text" pInputText name="licensePlate" formControlName="licensePlate" onkeyup="this.value = this.value.toUpperCase();"/>
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>Unit Price:
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">CAD</span>
                                    <input type="number" min="1" pInputText name="price" formControlName="price" readonly/>
                                    <span class="p-inputgroup-addon">.00</span>
                                </div>
                            </label>
                        </div>
                        <div class="col-12">
                            <label>Quantity*:
                                <p-inputNumber 
                                    formControlName="quantity" 
                                    [min]=1 
                                    (onInput)="onChangeQuantity()"
                                    [showButtons]="true" 
                                    inputId="quantity"> 
                                </p-inputNumber>
                            </label>
                        </div>                       
                        <div class="col-12">
                            <label>Total:
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">CAD</span>
                                    <input type="total" min="1" pInputText name="total" formControlName="total" readonly/>
                                    <span class="p-inputgroup-addon">.00</span>
                                </div>
                            </label>
                        </div>                      
                        <div class="col-12">
                            <label htmlFor="optional1">Optional Input 1:
                                <input type="text" pInputText name="optional1" formControlName="optional1"/>
                            </label>
                        </div>
                        <div class="col-12">
                            <label htmlFor="optional2">Optional Input 2:
                                <input type="text" pInputText name="optional2" formControlName="optional2"/>
                            </label>
                        </div>
                        <ng-container *ngIf="permit?.permitTypeModel?.requireAdditionalInput3">
                            <div class="col-12">
                                <label htmlFor="optional3">Optional Input 3:
                                    <input type="text" pInputText name="optional3" formControlName="optional3"/>
                                </label>
                            </div> 
                        </ng-container>
                        <ng-container *ngIf="permit?.permitTypeModel?.requireAdditionalInput4">
                            <div class="col-12">
                                <label htmlFor="optional4">Optional Input 4:
                                    <input type="text" pInputText name="optional4" formControlName="optional4"/>
                                </label>
                            </div> 
                        </ng-container>
                        <ng-container *ngIf="permit?.permitTypeModel?.requireAdditionalInput5">
                            <div class="col-12">
                                <label htmlFor="optional5">Optional Input 5:
                                    <input type="text" pInputText name="optional5" formControlName="optional5"/>
                                </label>
                            </div>
                        </ng-container>
                    </div>   
                    <div class="col-12 xl:col-6">
                        <p-panel header="Documentation" class="line-height-3 m-0">
                            <div class="p-fluid p-formgrid grid">
                                <div class="col-12">
                                    <span class="documentation-sub-title">
                                        This permit requires documentation and approval before a permit can be provided.
                                        Please provide the following
                                    </span>
                                </div>
                                <div class="col-12">
                                    <label htmlFor="driversLicense">Drivers License (Picture):</label>
                                    <p-fileUpload 
                                        #fileUpload 
                                        name="driversLicense"
                                        skinSimple="true"
                                        [multiple]="false"
                                        [customUpload]="true"
                                        (uploadHandler)="onUploadLicenseDriver($event)"
                                        [auto]="true"
                                    >
                                </p-fileUpload>
                                </div>
                                <div class="col-12">
                                    <label htmlFor="proffOfResidence">Proff of Residence:</label>
                                    <p-fileUpload 
                                        #fileUpload 
                                        name="proffOfResidence"
                                        skinSimple="true"
                                        [multiple]="false"
                                        [customUpload]="true"
                                        (uploadHandler)="onUploadProofResidence($event)"
                                        [auto]="true"
                                        >
                                    </p-fileUpload>
                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-12 md:col-6">
                                            <button pButton pRipple icon="pi pi-times-circle" label="Cancel" class="p-button-danger w-full">
                                            </button>
                                        </div>
                                        <div class="col-12 md:col-6">
                                            <button pButton pRipple icon="pi pi-save" class="p-button-primary w-full" label="Submit" [disabled]="!form?.valid">
                                            </button>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </p-panel>
                    </div>                     
                </div>
            </form>
        </ng-container>
    </div>
</div>

<p-dialog [(visible)]="confirmationDialog" styleClass="confirmationDialog" [resizable]="false" header="Confirmation" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">              
        <div class="grid mt-2 ml-2 mr-2">
            <div class="col-12 mt-10">
                <div class="grid">
                    <h3>Please confirm the following information is correct: </h3>
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>Permit Type:</span>
                            </div> 
                            <div class="col-8">
                                <span>{{permit?.permitTypeModel?.name}} </span>
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>Zone:</span>
                            </div> 
                            <div class="col-8">
                                <span>{{permit?.zoneName}}</span>
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>Valid: </span>
                            </div> 
                            <div class="col-8">
                                <span>{{permit?.startDateUtc | date: 'dd/MMMM/YYYY HH:mm' }} -> {{permit?.expirationDateUtc | date: 'dd/MMMM/YYYY HH:mm'}}</span>
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>License Plate:</span>
                            </div> 
                            <div class="col-8">
                                <span>{{permit.licensePlate}}</span>
                            </div> 
                        </div>  
                    </div> 
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>Quantity:</span>
                            </div> 
                            <div class="col-8">
                                <span>{{permit?.quantity}}</span>
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>Total: </span>
                            </div> 
                            <div class="col-8">
                                <span>CAD {{permit?.total}}</span>
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-12 py-0">
                        <p>
                            These can have additional setting and information for validation,
                            possibly in a scrollable area if we wanted to show document names
                            etc.
                        </p>
                    </div> 
                </div>
            </div>
        </div>           
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times-circle" label="Cancel" class="p-button-danger" (click)="hideDialog()"></button>
        <button pButton pRipple icon="pi pi-save" class="p-button-primary" label="Submit" (click)="savePermit()"></button>
    </ng-template>
</p-dialog>     
