<div class="grid">
    <div class="col-12">
        <ng-container>
            <div class="grid" >
                <div class="col-12">
                    <h4>{{"ClientPermit.PermitOptionsStatus" | translate}}: {{"ClientPermit.New" | translate}}</h4>
                </div>
            </div>
            <form *ngIf="form" class="form-options" [formGroup]="form!">
                <div class="p-fluid p-formgrid grid" >
                    <div class="col-12 xl:col-6">
                        <div class="col-12">
                            <label>{{"ClientPermit.Zone" | translate}}*:
							    <input type="text" readonly pInputText name="zone" formControlName="zone"/>
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>{{"ClientPermit.PermitType" | translate}}*:
                                <p-dropdown 
                                    formControlName="permitType"
                                    name="permitType" 
                                    optionLabel="name" 
                                    [options]="permitTypes" 
                                    placeholder="Select Permit Type" 
                                    (onChange)="onPermitTypeChange($event)"
                                    class="w-full"
                                    [formControl]="permitTypeControl"
                                >
                                    <ng-template let-option pTemplate="item">
                                        {{option.name}}
                                    </ng-template>
                                </p-dropdown>  
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>{{"ClientPermit.Tariff" | translate}}*:
                                <p-dropdown 
                                    formControlName="tariff"
                                    name="tariff" 
                                    optionLabel="name" 
                                    [options]="tariffs" 
                                    placeholder="Select Tariff" 
                                    (onChange)="onTariffChange($event)"
                                    class="w-full"
                                    [formControl]="tariffControl" 
                                >
                                    <ng-template let-option pTemplate="item">
                                        {{option.name}}
                                    </ng-template>
                                </p-dropdown>  
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>{{"ClientPermit.StartDate" | translate}}*:
                                <p-calendar [showIcon]="true"
                                            [touchUI]="true" 
                                            [showButtonBar]="true"
                                            [minDate]="minDate"
                                            formControlName="startDate"
                                            dateFormat="yy-MM-dd"
                                            [showTime]="true"
                                            (onClose)="onChangeStartDate()"
                                            name="startDate">
                                </p-calendar>
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>{{"ClientPermit.EndDate" | translate}}*:
                                <p-calendar [showIcon]="true"
                                            [touchUI]="false" 
                                            [showButtonBar]="true"
                                            [minDate]="minEndDate" 
                                            formControlName="endDate"
                                            dateFormat="yy-MM-dd"
                                            [showTime]="true"
                                            (onClose)="onChangeEndDate()"
                                            name="endDate">
                                </p-calendar>
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>{{"ClientPermit.LicensePlate" | translate}}*:
							    <input type="text" pInputText name="licensePlate" formControlName="licensePlate" appNoSpecialCharacters maxlength="10"/>
                            </label>
                        </div>    
                        <div class="col-12">
                            <label>{{"ClientPermit.UnitPrice" | translate}}:
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">CAD</span>
                                    <input type="number" min="1" pInputText name="price" formControlName="price" readonly/>
                                    <span class="p-inputgroup-addon">.00</span>
                                </div>
                            </label>
                        </div>
                        <div class="col-12">
                            <label>{{"ClientPermit.Quantity" | translate}}*:
                                <p-inputNumber 
                                    formControlName="quantity" 
                                    [min]=1 
                                    (onInput)="onChangeQuantity()"
                                    [showButtons]="true" 
                                    inputId="quantity"> 
                                </p-inputNumber>
                            </label>
                        </div>                       
                        <div class="col-12">
                            <label>{{"ClientPermit.Total" | translate}}:
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">CAD</span>
                                    <input type="total" min="1" pInputText name="total" formControlName="total" readonly/>
                                    <span class="p-inputgroup-addon">.00</span>
                                </div>
                            </label>
                        </div>                      
                        <div class="col-12" *ngIf="permit?.permitTypeModel?.requireAdditionalInput1">
                            <label htmlFor="optional1">{{"ClientPermit.OptionalInput" | translate}} 1:
                                <input type="text" pInputText name="optional1" maxlength="100" formControlName="optional1"/>
                                <!-- <p-message severity="error" text="Input 1 is required"></p-message> -->
                            </label>
                        </div>
                        <div class="col-12" *ngIf="permit?.permitTypeModel?.requireAdditionalInput2">
                            <label htmlFor="optional2">{{"ClientPermit.OptionalInput" | translate}} 2:
                                <input type="text" pInputText name="optional2" maxlength="100" formControlName="optional2"/>
                            </label>
                        </div>
                        <ng-container *ngIf="permit?.permitTypeModel?.requireAdditionalInput3">
                            <div class="col-12">
                                <label htmlFor="optional3">{{"ClientPermit.OptionalInput" | translate}} 3:
                                    <input type="text" pInputText name="optional3" maxlength="200" formControlName="optional3"/>
                                </label>
                            </div> 
                        </ng-container>
                        <ng-container *ngIf="permit?.permitTypeModel?.requireAdditionalInput4">
                            <div class="col-12">
                                <label htmlFor="optional4">{{"ClientPermit.OptionalInput" | translate}} 4:
                                    <input type="text" pInputText name="optional4" maxlength="200" formControlName="optional4"/>
                                </label>
                            </div> 
                        </ng-container>
                        <ng-container *ngIf="permit?.permitTypeModel?.requireAdditionalInput5">
                            <div class="col-12">
                                <label htmlFor="optional5">{{"ClientPermit.OptionalInput" | translate}} 5:
                                    <input type="text" pInputText name="optional5" maxlength="2000" formControlName="optional5"/>
                                </label>
                            </div>
                        </ng-container>
                    </div>   
                    <div class="col-12 xl:col-6">
                        <p-panel [header]="'ClientPermit.Documentation' | translate"  class="line-height-3 m-0">
                            <div class="p-fluid p-formgrid grid">
                                <div class="col-12">
                                    <span class="documentation-sub-title" *ngIf="hasRequiredDocuments(); else noDocuments">
                                        {{"ClientPermit.DocumentationApproval" | translate}}
                                    </span>
                                </div>

                                <ng-template #noDocuments>
                                    <div>   
                                      No documents required for this permit.
                                    </div>
                                </ng-template>

                                <div class="col-12" 
                                    *ngFor="let requiredDocument of requiredDocuments"
                                >
                                    <label [for]="requiredDocument.documentName"><strong>{{ requiredDocument.documentName}}: </strong></label>
                                    <span>{{ requiredDocument.documentDescription }}</span>
                                    <p-fileUpload 
                                        #fileUpload 
                                        [name]="requiredDocument.documentName??'document'"
                                        skinSimple="true"
                                        [multiple]="false"
                                        [customUpload]="true"
                                        (onRemove)="onRemoveFile(requiredDocument)"
                                        (uploadHandler)="onUploadFiles(requiredDocument, $event)"
                                        [auto]="true"
                                    >
                                    </p-fileUpload>
                                </div>
                                <div class="col-12">
                                    <div class="grid">
                                        <div class="col-12 md:col-6">
                                            <button pButton pRipple icon="pi pi-times-circle" [label]="'ClientPermit.Cancel' | translate"  class="p-button-danger w-full" (click)="cancelNewPermit = true">
                                            </button>
                                        </div>
                                        <div class="col-12 md:col-6">
                                            <button pButton pRipple icon="pi pi-save" class="p-button-primary w-full" [label]="'ClientPermit.Submit' | translate"  [disabled]="!form?.valid" (click)="onSubmitPermit()">
                                            </button>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </p-panel>
                    </div>                     
                </div>
            </form>
        </ng-container>
    </div>
</div>

<p-dialog [(visible)]="confirmationDialog" styleClass="confirmationDialog" [resizable]="false" [header]="'ClientPermit.Confirmation' | translate" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">              
        <div class="grid mt-2 ml-2 mr-2">
            <div class="col-12 mt-10">
                <div class="grid">
                    <h3>{{"ClientPermit.ConfirmationInformation" | translate}}: </h3>
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>{{"ClientPermit.PermitType" | translate}}:</span>
                            </div> 
                            <div class="col-8">
                                <span>{{permit?.permitTypeModel?.name}} </span>
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>{{"ClientPermit.Zone" | translate}}:</span>
                            </div> 
                            <div class="col-8">
                                <span>{{permit?.zoneName}}</span>
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>{{"ClientPermit.Valid" | translate}}: </span>
                            </div> 
                            <div class="col-8">
                                <span>{{permit?.startDateUtc | date: 'dd/MMMM/YYYY HH:mm' }} -> {{permit?.expirationDateUtc | date: 'dd/MMMM/YYYY HH:mm'}}</span>
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>{{"ClientPermit.LicensePlate" | translate}}:</span>
                            </div> 
                            <div class="col-8">
                                <span>{{permit.licensePlate}}</span>
                            </div> 
                        </div>  
                    </div> 
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>{{"ClientPermit.Quantity" | translate}}:</span>
                            </div> 
                            <div class="col-8">
                                <span>{{permit?.quantity}}</span>
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-12 py-0">
                        <div class="grid py-0">
                            <div class="col-4">
                                <span>{{"ClientPermit.Total" | translate}}: </span>
                            </div> 
                            <div class="col-8">
                                <span>CAD {{permit?.total}}</span>
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-12 py-0">
                        <p>
                            {{"ClientPermit.AdditionalSetting" | translate}}.
                        </p>
                    </div> 
                </div>
            </div>
        </div>           
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times-circle" [label]="'ClientPermit.Cancel' | translate" class="p-button-danger" (click)="hideDialog()"></button>
        <button pButton pRipple [disabled]="!form?.valid" icon="pi pi-save" class="p-button-primary" [label]="'ClientPermit.Submit' | translate" (click)="savePermit()"></button>
    </ng-template>
</p-dialog>     

<p-dialog [(visible)]="cancelNewPermit" [header]="'ClientPermit.Confirm' | translate" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>{{"ClientPermit.CancelApplication" | translate}}</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-check" class="p-button-danger" [label]="'ClientPermit.Yes' | translate" (click)="confirmCancel()"></button>
        <button pButton pRipple icon="pi pi-times" class="p-button-primary" [label]="'ClientPermit.No' | translate" (click)="cancelNewPermit = false"></button>
    </ng-template>
</p-dialog>
<p-toast key="msg"></p-toast>
