.register-legend{
    background-color: #d1ecf1;
    color: #0c5460;
    border-color: #bee5eb;
    border: 1px solid;
    border-radius:0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    width:25rem;
  }

  @media screen and (max-width: 765px) {
    .register-legend{
      width:20rem;
    }
  }