.product-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-instock {
        background: var(--green-200);
        color: var(--green-800);
    }

    &.status-outofstock {
        background: var(--pink-200);
        color: var(--pink-800);
    }

    &.status-lowstock {
        background: var(--yellow-200);
        color: var(--yellow-800);
    }
}

.product-badge-text {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-instock {
        color: var(--green-500);
    }

    &.status-outofstock {
        color: var(--pink-500);
    }

    &.status-lowstock {
        color: var(--yellow-500);
    }
}

.customer-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-qualified {
        background: var(--green-200);
        color: var(--green-800);
    }

    &.status-unqualified {
        background: var(--pink-200);
        color: var(--pink-800);
    }

    &.status-negotiation {
        background: var(--yellow-200);
        color: var(--yellow-800);
    }

    &.status-new {
        background: var(--blue-200);
        color: var(--blue-800);
    }

    &.status-renewal {
        background: var(--purple-200);
        color: var(--purple-800);
    }

    &.status-proposal {
        background: var(--orange-200);
        color: var(--orange-800);
    }
}

.order-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.order-delivered {
        background: #C8E6C9;
        color: #256029;
    }

    &.order-cancelled {
        background: #FFCDD2;
        color: #C63737;
    }

    &.order-pending {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.order-returned {
        background: #ECCFFF;
        color: #694382;
    }
}

.permits-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    /* Payment Pending - Orange */
    &.payment-pending {
        color: #ff7f00;
        background-color: #ffdbac; /* Light orange background color */
    }

    /* Payment Failed - Red */
    &.payment-failed {
        color: #ff0000;
        background-color: #ffc0cb; /* Pink background color */
    }

    /* Issued - Green */
    &.issued {
        color: #00cc00;
        background-color: #98fb98; /* Pale green background color */
    }

    /* Active - Dark Green */
    &.active {
        color: #008000;
        background-color: #9acd32; /* Yellow-green background color */
    }

    /* Expired - Gray */
    &.expired {
        color: #808080;
        background-color: #d3d3d3; /* Light gray background color */
    }

    /* Cancelled - Dark Red */
    &.cancelled {
        color: #8b0000;
        background-color: #b22222; /* Firebrick background color */
    }

    /* Suspended - Purple */
    &.suspended {
        color: #800080;
        background-color: #ba55d3; /* Medium purple background color */
    }

    /* Archived - Brown */
    &.archived {
        color: #a52a2a;
        background-color: #d2691e; /* Chocolate background color */
    }

    /* Payment Accepted - Dark Blue */
    &.payment-accepted {
        color: #00008b;
        background-color: #add8e6; /* Light blue background color */
    }

    &.new {
        color: #007bff;
        background-color: #cce5ff; /* Light blue background color */
    }

}

.applications-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    /* New - Blue */
    &.new {
        color: #007bff;
        background-color: #cce5ff; /* Light blue background color */
    }

    &.complete {
        color: #008000;
        background-color: #d6ffdf; /* Pale green background color */
    }

    /* Request Ready - Green */
    &.request-ready {
        color: #008000;
        background-color: #ccffcc; /* Light green background color */
    }

    /* Incomplete - Yellow */
    &.incomplete {
        color: #666; /* Darker text color for better contrast */
        background-color: #fff7db;
    }

    /* Cancelled - Dark Red */
    &.cancelled {
        color: #8b0000;
        background-color: #ffd6cc; /* Light red background color */
    }

    /* Suspended - Purple */
    &.suspended {
        color: #800080;
        background-color: #e6ccff; /* Light purple background color */
    }

    /* Denied - Red */
    &.denied {
        color: #ff0000;
        background-color: #ffb3b3; /* Pale red background color */
    }

    /* Approved - Green */
    &.approved {
        color: #008000;
        background-color: #dfffdf; /* Pale green background color */
    }

    /* Archived - Brown */
    &.archived {
        color: #a52a2a;
        background-color: #ffdab3; /* Pale brown background color */
    }

    /* Resubmission - Orange */
    &.resubmission {
        color: #ff7f00;
        background-color: #ffe0b3; /* Pale orange background color */
    }

    /* Deleted - Gray */
    &.deleted {
        color: #808080;
        background-color: #f2f2f2; /* Light gray background color */
    }

}

.messages-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.success {
        color: #008000;
        background-color: #d6ffdf;
    }

    &.error {
        color: #8b0000;
        background-color: #ffd6cc;
    }

    &.warning {
        color: #ff7f00;
        background-color: #ffe0b3;
    }
}
